.imageSize {
  width: 1200px;
  display: block;
  margin: auto;
  margin-top: 50px;
  .small-container {
    width: 80%;
    display: block;
    margin: auto;
    .image-container {
      display: flex;
      gap: 10%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      .smaller {
        width: 212px;
        height: 261px;
        position: relative;
        cursor: pointer;
      }
      .bigger {
        width: 233px;
        height: 286px;
        position: relative;
        cursor: pointer;
      }
    }

    .small-container-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-family: kenjo I;
        font-size: 2rem;
        font-weight: 200;
        line-height: 50px;
        letter-spacing: 1px;
      }
      .line {
        width: 30px;
        border: 1px solid #dedede;
        margin: 20px 0;
      }
      p {
        font-size: 17px;
        font-family: aReglar;
        line-height: 25px;
        text-align: center;
        opacity: 0.7;
        width: 72%;
        margin-bottom: 20px;
      }
    }
  }
}

.mb {
  margin-bottom: 40px;
}
.images {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.imagesLogo {
  position: absolute;
  left: 50px;
  bottom: 20px;
  height: 50px;
  width: 100px;
  object-fit: contain;
}

@media screen and (max-width: 1220px) {
  .imageSize {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .imageSize {
    .small-container .image-container {
      gap: 5%;
    }
  }
}
@media screen and (max-width: 1000px) {
  .imageSize {
    .small-container {
      .small-container-desc p {
        width: 85%;
      }
      .image-container {
        gap: 1%;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .imageSize {
    .small-container {
      .small-container-desc {
        h1 {
          font-size: 1.8rem;
        }
        p {
          font-size: 15px;
        }
      }
      .image-container {
        .smaller {
          width: 190px;
          height: 240px;
        }
        .bigger {
          width: 210px;
          height: 266px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .imageSize {
    .small-container {
      .small-container-desc {
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 30px;
          line-height: 50px;
        }
      }
      .image-container {
        .mb {
          width: calc(48%);
          height: 50vh;
          .images {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .imageSize {
    .small-container {
      .small-container-desc {
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 16px;
          line-height: 28px;
        }
      }
      .image-container {
        .mb {
          height: 35vh;
          .imagesLogo {
            left: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .imageSize {
    .small-container {
      .small-container-desc {
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 14px;
          line-height: 22px;
        }
      }
      .image-container {
        .mb {
          height: 30vh;
          .imagesLogo {
            left: 10px;
          }
        }
      }
    }
  }
}
