.poster {
  position: relative;
  height: 88vh;
  width: 100%;
  .poster-img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: right;
  }
  .black-layer {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0px;
    left: 0;
    background-color: black;
    opacity: 0.5;
    color: #fff;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    .poster-desc {
      width: 1200px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
    .about-us {
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .about-text-1 {
      transform: scale(1, 1) rotate(-3deg);
      margin-bottom: 50px;
      p {
        font-size: 100px;
        line-height: 110px;
        font-family: gustera;
        letter-spacing: 14px;
      }
    }
    .about-text-2 {
      width: 500px;
      p {
        line-height: 40px;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  }
}

.fs {
  p {
    font-size: 170px !important;
    line-height: 200px !important;
  }
}

.height80 {
  height: 80vh !important;
}
.fsN {
  transform: rotate(0deg) !important;
  margin-bottom: 20px !important;
  p {
    font-family: kenjo I !important;
    font-size: 45px !important;
    line-height: 100px !important;
    letter-spacing: 5px !important;
  }
}
.width64 {
  width: 56%;
  font-size: 15px;
  line-height: 22px;
}

//mobile style
@media screen and (max-width: 1200px) {
  .poster {
    height: 600px;
  }
  .black-layer .about-text-2 p {
    line-height: 33px;
    font-size: 21px;
  }
  .fs p {
    font-size: 155px !important;
    line-height: 175px !important;
  }
}
@media screen and (max-width: 1100px) {
  .poster {
    .black-layer {
      .about-text-2 {
        width: 470px;
        p {
          line-height: 30px;
          font-size: 21px;
          letter-spacing: 0px;
        }
      }
    }
  }
  .fs p {
    font-size: 135px !important;
    line-height: 150px !important;
  }
}

@media screen and (max-width: 1000px) {
  .poster {
    height: 550px;
    .black-layer {
      .about-text-1 p {
        font-size: 70px;
        line-height: 100px;
        letter-spacing: 12px;
      }
      .about-text-2 p {
        line-height: 24px;
        font-size: 18px;
    }
      .about-text-2s {
        font-size: 11px;
        line-height: 20px;
      }
      .width64 {
        width: 60%;
        font-size: 11px;
        line-height: 20px;
      }
    }
  }
  .fs p {
    font-size: 120px !important;
    line-height: 140px !important;
  }
}
@media screen and (max-width: 900px) {
  .poster {
    height: 500px;
    .black-layer .about-text-2 p {
      line-height: 20px;
      font-size: 15px;
  }
  }
  .fs p {
    font-size: 100px !important;
    line-height: 120px !important;
  }
}
@media screen and (max-width: 800px) {
  .poster {
    height: 720px !important;
    .black-layer {
      .about-us {
        font-size: 30px;
      }
      .lines {
        width: 60px;
      }
      .about-text-1 p {
        font-size: 131px !important;
        line-height: 200px !important;
      }
      .width64 {
        width: 80%;
        font-size: 25px;
        line-height: 40px;
      }
      .fsN p {
        font-size: 65px !important;
        line-height: 130px !important;
      }
      .about-text-2 {
        width: 80%;
        p {
          line-height: 70px;
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .poster {
    height: 650px !important;
    .black-layer {
      .about-text-1 p {
        font-size: 100px !important;
        line-height: 100px !important;
        letter-spacing: 9px !important;
      }
      .width64 {
        width: 80%;
        font-size: 20px;
        line-height: 30px;
      }
      .fsN p {
        font-size: 55px !important;
        line-height: 100px !important;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .poster {
    height: 600px !important;
    .black-layer {
      .about-us {
        font-size: 25px !important;
      }
      .lines {
        width: 40px !important;
      }
      .about-text-1 p {
        font-size: 80px !important;
        line-height: 90px !important;
        letter-spacing: 6px !important;
      }
      .width64 {
        font-size: 18px;
        line-height: 30px;
      }
      .fsN p {
        font-size: 45px !important;
        line-height: 80px !important;
      }
      .about-text-2 p {
        line-height: 55px;
        font-size: 25px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .poster {
    height: 480px !important;
    .black-layer {
      .about-us {
        font-size: 20px !important;
      }
      .lines {
        width: 30px !important;
      }
      .about-text-1 p {
        font-size: 65px !important;
        line-height: 70px !important;
        letter-spacing: 4px !important;
      }
      .about-text-2 p {
        line-height: 40px;
        font-size: 18px;
      }
    }
  }
}
