@font-face {
  font-family: cursive;
  src: url(./CedarvilleCursive-Regular.ttf);
}

@font-face {
  font-family: brand;
  src: url(./Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: Muster SSi;
  src: url(./MusterSSi.ttf);
}
@font-face {
  font-family: Kenjo I;
  src: url(./KenjoI.ttf);
}
@font-face {
  font-family: MediumCn;
  src: url(./avenir_next_lt_pro_bold_condensed.ttf);
}
@font-face {
  font-family: gustera;
  src: url(./gustera.ttf);
}

@font-face {
  font-family: aRegular;
  src: url(./AvenirNextLTPro-Regular.ttf);
}