.about {
  //About us css
  .AboutUs {
    background-color: #cfe0dd;
    padding: 50px 0px;
    display: flex;
    flex-flow: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    .AboutUs-1-container {
      width: 1200px;
      display: flex;
      flex-flow: row;
      align-items: flex-end;
      justify-content: center;
      margin: auto;

      .AboutUs-1-container-img {
        width: 375px;
        height: 512px;
        flex-basis: 38%;
        img {
          height: inherit;
          width: 100%;
          object-fit: cover;
        }
      }
      .AboutUs-1-container-img-2 {
        width: 464px;
        height: 337px;
        flex-basis: 38%;
      }
      .AboutUs-1-container-desc {
        flex-basis: 38%;
        width: 375px;
        .about-text-3 {
          font-size: 13px;
          line-height: 23px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-bottom: 20px;
          font-family: aRegular;
          font-weight: 600;
        }
        .about-text-4 {
          p {
            font-size: 40px;
            line-height: 60px;
            font-family: Kenjo I;
            letter-spacing: 5px;
          }
        }
        .lines {
          width: 30px;
          border: 1px solid #b5c5c1;
          margin-bottom: 20px;
        }
        .about-text-5 {
          width: 80%;
          p {
            font-size: 13px;
            line-height: 23px;
          }
        }
      }

      .AboutUs-1-container-desc-2 {
        flex-basis: 38%;
        height: 337px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;

        .container-desc-2 {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          width: 390px;
          p {
            font-family: kenjo I;
            font-size: 28px;
            line-height: 36px;
          }
        }
      }
    }
  }

  //about-desc-3

  .about-desc-3 {
    height: 440px;
    .outer-div {
      width: 1200px;
      display: block;
      margin: auto;
      height: inherit;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      .inner-div {
        width: 65%;
        height: inherit;
        transform: rotate(-3deg);
        p {
          font-family: gustera;
          font-weight: 200;
          opacity: 0.7;
          font-size: 6rem;
          letter-spacing: 3px;
          line-height: 100px;
          text-align: center;
        }
      }
    }
  }

  //Mission and Philosophy

  .mission-philosophy {
    background-color: #cfe0dd;

    .mission-container {
      width: 1200px;
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 6%;
      margin: auto;
      // padding: 40px;
      position: relative;
      .mission-inner-container {
        flex-basis: 47%;

        //image container

        .mission-image-container {
          .mission-image-1 {
            height: 380px;
            width: 300px;
            position: absolute;
            top: 115px;
            left: 304px;
            img {
              height: inherit;
              width: inherit;
              object-fit: cover;
            }
          }
          .mission-image-2 {
            height: 150px;
            width: 150px;
            position: absolute;
            bottom: 250px;
            left: 344px;
            img {
              height: inherit;
              width: inherit;
              object-fit: cover;
            }
          }

          .mission-image-3 {
            height: 190px;
            width: 150px;
            position: absolute;
            top: 224px;
            left: 105px;
            img {
              height: inherit;
              width: inherit;
              object-fit: cover;
            }
          }
          .insta {
            width: 220px;
            height: 60px;
            background-color: #f3e2d0;
            font-family: aRegular;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 1px;
            border: none;
            position: absolute;
            bottom: 155px;
            left: 300px;
          }
        }
        //description
        .mission-desc {
          width: 70%;
          .mission-text-0 {
            p {
              font-size: 2rem;
              font-family: kenjo I;
              line-height: 45px;
            }
            .lines {
              width: 30px;
              border: 1px solid #b5c5c1;
              margin: 20px 0;
            }
          }
          .mission-text-1 {
            p {
              font-family: aRegular;
              font-size: 16px;
              line-height: 25px;
              font-weight: 500;
            }
          }
          .mission-text-2 {
            p {
              font-family: gustera;
              font-size: 3rem;
              letter-spacing: 3px;
              line-height: 70px;
            }
          }
          .mission-text-3 {
            margin-top: 20px;
            div {
              margin: 10px 0px;
              .mission-text-3-heading {
                font-size: 15px;
                font-family: kenjo I;
                line-height: 27px;
                font-weight: 400;
              }
              .mission-text-3-desc {
                font-family: aRegular;
                font-size: 14px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
}
.ml {
  margin-left: 10px;
}

//mobile styles
@media screen and (max-width: 1280px) {
  .about {
    .AboutUs {
      .AboutUs-1-container {
        width: 100% !important;
        .AboutUs-1-container-desc {
          .about-text-3 {
            font-size: 15px !important;
            font-weight: 300 !important;
          }
          .about-text-4 p {
            font-size: 38px;
            line-height: 36px;
            letter-spacing: 4px;
          }
          .about-text-5 p {
            line-height: 21px;
          }
        }
      }
    }
    .mission-philosophy {
      .mission-container {
        width: 100% !important;
        .mission-inner-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding-right: 10px;
          .mission-desc {
            width: 80%;
            .mission-text-0 p {
              font-size: 1.8rem;
              line-height: 40px;
              letter-spacing: 4px;
            }
            .mission-text-1 p {
              font-size: 15px;
              line-height: 20px;
            }
            .mission-text-2 p {
              line-height: 45px;
            }
            .mission-text-3 div .mission-text-3-desc {
              font-size: 13px;
              line-height: 22px;
            }
          }
          .mission-image-container {
            .mission-image-1 {
              top: 30px;
            }
            .mission-image-3 {
              top: 130px;
            }
            .mission-image-2 {
              bottom: 190px;
            }
            .insta {
              bottom: 86px;
            }
          }
        }
      }
    }
    .about-desc-3 {
      .outer-div {
        width: 100% !important;
        .inner-div p {
          font-size: 5rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .about {
    .mission-philosophy {
      .mission-container {
        .mission-inner-container {
          .mission-desc {
            .mission-text-0 p {
              font-size: 1.5rem;
              line-height: 35px;
            }
            .mission-text-1 p {
              font-size: 14px;
              line-height: 18px;
            }
            .mission-text-2 p {
              line-height: 40px;
            }
            .mission-text-3 div .mission-text-3-desc {
              font-size: 13px;
              line-height: 20px;
            }
          }
          .mission-image-container {
            .mission-image-1 {
              height: 370px;
              width: 290px;
            }
          }
        }
      }
    }
    .about-desc-3 {
      .outer-div .inner-div p {
        font-size: 4rem !important;
        letter-spacing: 4px;
        line-height: 90px;
      }
    }
    .AboutUs {
      .AboutUs-1-container {
        gap: 5%;
        .AboutUs-1-container-desc {
          .about-text-3 {
            font-size: 13px !important;
          }
          .about-text-4 p {
            font-size: 33px;
            line-height: 40px;
          }
          .about-text-5 p {
            line-height: 17px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .about {
    .AboutUs {
      .AboutUs-1-container {
        .AboutUs-1-container-desc {
          .about-text-3 {
            font-size: 12px !important;
          }
          .about-text-4 p {
            font-size: 28px;
            line-height: 36px;
          }
          .about-text-5 p {
            line-height: 16px;
          }
        }
      }
    }
    .mission-philosophy {
      .mission-container {
        .mission-inner-container {
          padding-top: 10px;
          .mission-desc {
            .mission-text-0 p {
              font-size: 1.4rem;
            }
            .mission-text-1 p {
              font-size: 13px;
              line-height: 16px;
            }
            .mission-text-2 p {
              line-height: 40px;
              font-size: 2rem;
              letter-spacing: 4px;
            }
            .mission-text-3 div .mission-text-3-desc {
              font-size: 13px;
              line-height: 22px;
            }
          }
          .mission-image-container {
            .mission-image-1 {
              height: 360px;
              width: 280px;
              left: 210px;
            }
            .mission-image-3 {
              height: 180px;
              width: 140px;
              left: 40px;
            }
            .mission-image-2 {
              height: 140px;
              width: 140px;
              bottom: 240px;
              left: 260px;
            }
            .insta {
              left: 200px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .about {
    .mission-philosophy {
      .mission-container {
        .mission-inner-container {
          .mission-desc {
            .mission-text-0 {
              p {
                font-size: 1rem;
                line-height: 30px;
              }
              .lines {
                margin: 10px 0;
              }
            }
            .mission-text-1 p {
              font-size: 13px;
              line-height: 16px;
            }
            .mission-text-2 p {
              line-height: 32px;
              font-size: 2rem;
              letter-spacing: 3px;
            }
            .mission-text-3 div .mission-text-3-desc {
              line-height: 19px;
            }
          }
          .mission-image-container {
            .mission-image-1 {
              height: 310px;
              width: 230px;
            }
            .mission-image-3 {
              height: 170px;
              width: 130px;
            }
            .mission-image-2 {
              height: 140px;
              width: 140px;
              bottom: 240px;
              left: 260px;
            }
            .insta {
              left: 200px;
            }
          }
        }
      }
    }
    .AboutUs {
      .AboutUs-1-container {
        .AboutUs-1-container-desc {
          .about-text-4 p {
            font-size: 26px;
          }
          .about-text-5 p {
            line-height: 17px;
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about {
    .about-desc-3 {
      height: 800px;
      .outer-div {
        .inner-div {
          width: 90%;
          height: auto;
          p {
            font-size: 7rem !important;
            letter-spacing: 4px;
            line-height: 100px;
          }
        }
      }
    }
    .AboutUs {
      .AboutUs-1-container {
        flex-flow: column;
        align-items: center;
        .AboutUs-1-container-img {
          width: 90%;
          height: 70vh;
          flex-basis: unset;
        }
        .AboutUs-1-container-img-2 {
          width: 90%;
          height: 60vh;
          flex-basis: unset;
        }
        .AboutUs-1-container-desc {
          width: 97%;
          .about-text-3 {
            font-size: 20px !important;
            margin-top: 20px;
          }
          .about-text-4 p {
            font-size: 50px;
            line-height: 80px;
          }
          .about-text-5 {
            width: 95%;
            p {
              line-height: 28px;
              font-size: 20px;
            }
          }
        }

        .AboutUs-1-container-desc-2 .container-desc-2 {
          width: 90%;
          margin: auto;
          p {
            font-size: 30px;
            line-height: 50px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .mission-philosophy {
      .mission-container {
        flex-direction: column;
        .mission-inner-container {
          margin-top: 380px;
          .mission-desc {
            width: 90%;
            .mission-text-0 p {
              font-size: 4rem;
              line-height: 70px;
            }
            .mission-text-1 p {
              font-size: 27px;
              line-height: 45px;
            }
            .mission-text-2 p {
              line-height: 100px;
              font-size: 4rem;
              letter-spacing: 5px;
            }
            .mission-text-3 div {
              .mission-text-3-desc {
                font-size: 18px;
                line-height: 25px;
              }
              .mission-text-3-heading {
                font-size: 25px;
                line-height: 40px;
              }
            }
          }
          .mission-image-container {
            .mission-image-1 {
              height: 440px;
              width: 360px;
              left: unset;
              right: 30px;
              top: 60px;
            }
            .mission-image-3 {
              height: 240px;
              width: 200px;
              top: 150px;
            }
            .mission-image-2 {
              height: 200px;
              width: 200px;
              bottom: unset;
              left: unset;
              top: 400px;
              right: 100px;
            }
            .insta {
              width: 300px;
              height: 80px;
              font-size: 17px;
              bottom: unset;
              top: 670px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .about {
    .mission-philosophy {
      .mission-container {
        .mission-inner-container {
          .mission-image-container {
            .mission-image-1 {
              height: 400px;
              width: 320px;
            }
            .mission-image-3 {
              height: 220px;
              width: 180px;
            }
            .mission-image-2 {
              height: 190px;
              width: 190px;
            }
            .insta {
              left: 125px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .about {
    .about-desc-3 {
      height: 500px;
      .outer-div {
        .inner-div {
          width: 90%;
          height: auto;
          p {
            font-size: 4.5rem !important;
            letter-spacing: 4px;
            line-height: 60px;
          }
        }
      }
    }
    .AboutUs {
      .AboutUs-1-container {
        .AboutUs-1-container-desc {
          .about-text-3 {
            font-size: 15px !important;
          }
          .about-text-4 p {
            font-size: 35px;
            line-height: 40px;
          }
          .about-text-5 {
            p {
              line-height: 20px;
              font-size: 15px;
            }
          }
        }

        .AboutUs-1-container-desc-2 .container-desc-2 {
          p {
            font-size: 25px;
            line-height: 40px;
          }
        }
      }
    }
    .mission-philosophy {
      .mission-container {
        .mission-inner-container {
          margin-top: 340px;
          .mission-desc {
            .mission-text-0 p {
              font-size: 3rem;
              line-height: 50px;
            }
            .mission-text-1 p {
              font-size: 20px;
              line-height: 35px;
            }
            .mission-text-2 p {
              line-height: 80px;
              font-size: 3.5rem;
            }
            .mission-text-3 div {
              .mission-text-3-desc {
                font-size: 18px;
                line-height: 25px;
              }
              .mission-text-3-heading {
                font-size: 15px;
                line-height: 20px;
              }
            }
          }
          .mission-image-container {
            .mission-image-1 {
              height: 360px;
              width: 280px;
            }
            .mission-image-3 {
              height: 170px;
              width: 124px;
              left: 30px;
            }
            .mission-image-2 {
              height: 170px;
              width: 170px;
              top: 370px;
            }
            .insta {
              top: 600px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about {
    .mission-philosophy {
      .mission-container {
        .mission-inner-container {
          margin-top: 280px;
          .mission-desc {
            .mission-text-0 p {
              font-size: 2rem;
              line-height: 35px;
            }
            .mission-text-1 p {
              font-size: 17px;
              line-height: 30px;
            }
            .mission-text-2 p {
              line-height: 60px;
              font-size: 3rem;
            }
            .mission-text-3 div {
              .mission-text-3-desc {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
          .mission-image-container {
            .mission-image-1 {
              height: 280px;
              width: 210px;
            }
            .mission-image-3 {
              height: 160px;
              width: 110px;
              top: 120px;
            }
            .mission-image-2 {
              height: 141px;
              width: 120px;
              top: 288px;
              right: 90px;
            }
            .insta {
              top: 490px;
              left: 40px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .about {
    .about-desc-3 {
      .outer-div {
        .inner-div {
          p {
            font-size: 3.5rem !important;
            letter-spacing: 3px;
            line-height: 50px;
          }
        }
      }
    }
    .AboutUs {
      .AboutUs-1-container {
        .AboutUs-1-container-desc {
          .about-text-3 {
            font-size: 13px !important;
          }
          .about-text-4 p {
            font-size: 30px;
            line-height: 35px;
          }
          .about-text-5 {
            p {
              line-height: 20px;
              font-size: 13px;
            }
          }
        }

        .AboutUs-1-container-desc-2 .container-desc-2 {
          p {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
    .mission-philosophy {
      .mission-container {
        .mission-inner-container {
          margin-top: 230px;
          .mission-desc {
            .mission-text-0 p {
              font-size: 2rem;
              line-height: 35px;
            }
            .mission-text-1 p {
              font-size: 17px;
              line-height: 30px;
            }
            .mission-text-2 p {
              line-height: 60px;
              font-size: 3rem;
            }
            .mission-text-3 div {
              .mission-text-3-desc {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
          .mission-image-container {
            .mission-image-1 {
              height: 230px;
              width: 155px;
              right: 10px;
            }
            .mission-image-3 {
              height: 140px;
              width: 110px;
              top: 97px;
              left: 10px;
            }
            .mission-image-2 {
              height: 120px;
              width: 96px;
              top: 245px;
              right: 45px;
            }
            .insta {
              top: 400px;
              left: 10px;
              width: 284px;
              height: 70px;
            }
          }
        }
      }
    }
  }
}
