//poster
.poster2 {
  width: 100%;
  height: 90vh;
  position: relative;
  img {
    height: inherit;
    width: 100%;
    object-fit: cover;
  }
  .poster2-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    p,
    .about-heading {
      font-size: 125px;
      line-height: 100px;
      font-family: gustera;
      text-align: center;
    }
    .para4 {
      width: 500px;
      display: block;
      margin: auto;
      margin-top: 84px;
      p {
        font-family: aRegular;
        font-size: 25px;
        line-height: 40px;
      }
    }
    div {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      margin-top: 70px;
      .contactUs {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
      }
      span {
        cursor: pointer;
        margin-left: 20px;
      }
    }
  }
}

// mobile style

@media screen and (max-width: 1200px) {
  .poster2 {
    height: 580px;
    .poster2-desc {
      p,
      .about-heading {
        font-size: 107px;
        line-height: 85px;
      }
      .para4 {
        width: 450px;
        margin-top: 70px;
        p {
          font-size: 22px;
          line-height: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .poster2 {
    height: 500px;
    .poster2-desc {
      p,
      .about-heading {
        font-size: 100px;
        line-height: 75px;
      }
      .para4 {
        width: 400px;
        margin-top: 50px;
        p {
          font-size: 20px;
          line-height: 27px;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .poster2 {
    height: 470px;
    .poster2-desc {
      p,
      .about-heading {
        font-size: 90px;
        line-height: 70px;
      }
      .para4 {
        width: 350px;
        margin-top: 40px;
        p {
          font-size: 17px;
          line-height: 24px;
        }
      }
      div .contactUs {
        font-size: 10px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .poster2 {
    height: 460px;

    .poster2-desc {
      p {
        font-size: 110px;
        line-height: 110px;
        width: 500px;
      }
      .para4 {
        width: 430px;
        p {
          font-size: 21px;
          line-height: 41px;
        }
      }
      .about-heading {
        font-size: 130px;
        line-height: 135px;
      }
      div .contactUs {
        font-size: 19px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .poster2 {
    .poster2-desc {
      p {
        font-size: 100px;
        line-height: 90px;
        width: 430px;
      }
      .para4 {
        width: 400px;
        p {
          font-size: 18px;
          line-height: 22px;
        }
      }
      .about-heading {
        font-size: 105px;
        line-height: 100px;
      }
      div .contactUs {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .poster2 {
    .poster2-desc {
      p {
        font-size: 80px;
        line-height: 70px;
        width: 370px;
      }
      .para4 {
        width: 350px;
        p {
          font-size: 15px;
          line-height: 17px;
        }
      }
      .about-heading {
        font-size: 90px;
        line-height: 90px;
      }
      div {
        width: 350px;
        .contactUs {
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .poster2 {
    .poster2-desc {
      p {
        font-size: 75px;
        line-height: 70px;
        width: 300px;
        letter-spacing: 4px;
      }
      .para4 {
        width: 300px;
        p {
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 1px;
        }
      }
      .about-heading {
        font-size: 75px;
        line-height: 75px;
      }
      div {
        width: 300px;
        .contactUs {
          font-size: 14px;
        }
      }
    }
  }
}
