@import "../styles/fonts/fonts.scss";
.footer-container {
  .step1 {
    margin: 20px 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    .links {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
      height: 100px;
      .link {
        text-decoration: none;
        font-family: brand;
        color: #000;
      }
    }
    .footer-social-links {
      display: none;
    }

    .contact-details {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 17px;
      .mails {
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: black;
        }
      }
      .btn {
        background-color: #f3f7f6;
        width: 240px;
        height: 60px;
        border: none;
        a {
          color: #000;
          text-decoration: none;
          letter-spacing: 2px;
        }
      }
    }
  }
  .images-container {
    height: 300px;
    display: flex;
    overflow: hidden;
    width: 100%;
    .img-boxes {
      width: calc(100% / 5);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .bottom-text {
    font-size: 0.6rem;
    padding: 10px;
    text-align: center;
    background-color: #cfdfdd;
  }
}

// mobile style

@media screen and (max-width: 1100px) {
  .footer-container {
    .step1 {
      font-size: 20px;
    }
  }
  .btn {
    width: 220px;
    height: 55px;
  }
}
@media screen and (max-width: 1000px) {
  .footer-container {
    .step1 {
      font-size: 18px;
    }
  }
  .btn {
    width: 200px;
    height: 50px;
  }
}
@media screen and (max-width: 900px) {
  .footer-container {
    .step1 {
      font-size: 15px;
    }
  }
  .btn {
    width: 170px;
    height: 40px;
  }
}

@media screen and (max-width: 800px) {
  .footer-container {
    .step1 {
      margin: 40px 60px;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 32px;
      .links {
        height: 180px;
      }
      .footer-social-links {
        display: flex;
        flex-direction: row;
        width: 95%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        a {
          text-decoration: none;
          color: #cfe0dd;
          font-size: 3rem;
          .inquire {
            font-family: gustera;
            font-size: 100px;
            line-height: 0px;
            text-transform: capitalize;
          }
          .material-icons {
            font-size: 3rem;
            margin-left: 23px;
          }
        }
      }
      .contact-details {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 17px;

        .btn {
          width: 100%;
          height: 60px;
          margin-bottom: 50px;
          a {
            font-size: 25px;
          }
        }
      }
    }
    .images-container {
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      .img-boxes {
        width: 50%;
        height: 40vh;
        img {
          object-fit: cover;
        }
      }
      .hides {
        display: none;
      }
    }
    .bottom-text {
      font-size: 1.3rem;
      padding: 27px;
      line-height: 43px;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer-container {
    .step1 {
      font-size: 25px;
      .footer-social-links {
        a {
          font-size: 2.5rem;
          .inquire {
            font-size: 80px;
          }
        }
      }
      .links {
        height: 140px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .footer-container {
    .step1 {
      margin: 40px;
      font-size: 21px;
      .links {
        height: 106px;
      }
      .footer-social-links {
        a {
          font-size: 2rem;
          .inquire {
            font-size: 60px;
          }
          .material-icons {
            font-size: 2rem;
            margin-left: 10px;
          }
        }
      }
      .contact-details {
        .btn {
          height: 45px;
          a {
            font-size: 18px;
          }
        }
      }
    }
    .images-container {
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      .img-boxes {
        width: 50%;
        height: 30vh;
        img {
          object-fit: cover;
        }
      }
    }
    .bottom-text {
      font-size: 1rem;
      padding: 20px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-container {
    .step1 {
      font-size: 18px;
      .footer-social-links {
        a {
          font-size: 1.8rem;
          .inquire{
            font-size: 50px;
          }
        }
      }
      .links {
        height: 100px;
      }
      .contact-details .btn a {
        font-size: 15px;
    }
    }
  }
}
@media screen and (max-width: 400px) {
  .footer-container {
    .step1 {
      font-size: 15px;
      margin: 10px;
      .contact-details .btn a {
        font-size: 13px;
    }
    }
    .images-container {
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      .img-boxes {
        width: 50%;
        height: 30vh;
        img {
          object-fit: cover;
        }
      }
      .hide {
        display: none;
      }
    }
  }
}
