.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .desc {
    width: min(200px, 50vw);
    font-size: 0.7rem;
    font-family: brand;
    line-height: 2;
    letter-spacing: 2px;
  }
  .social-links {
    font-size: 1.2rem;
    display: flex;
    gap: 20px;
    align-items: center;
    a {
      color: #cfdfdd;
      text-decoration: none;
      .inquire {
        text-transform: capitalize;
        font-family: "gustera";
        font-size: 46px;
        color: #000;
        line-height: 9px;
      }
    }
    .social-icons {
      font-size: 1.2rem;
      color: #cfdfdd;
    }
    .contacts {
      transform: skewX(-30deg);
    }
  }
  img {
    height: 100px;
  }
  .ml {
    margin-left: 130px;
    height: 200px;
  }
  .dn {
    display: none;
  }
  .menu {
    display: none;
  }
}

// mobile styling

@media screen and (max-width: 1100px) {
  .hero {
    .ml {
      margin-left: 100px;
      height: 180px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .hero {
    .ml {
      margin-left: 80px;
      height: 170px;
    }
  }
}
@media screen and (max-width: 900px) {
  .hero {
    .ml {
      margin-left: 60px;
      height: 150px;
    }
  }
}
@media screen and (max-width: 800px) {
  .hero {
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    .ml {
      margin-left: 0px !important ;
      height: 240px;
    }
    .img {
      margin-left: 0px !important;
    }
    .menu {
      display: block !important;
      font-size: 38px !important;
      cursor: pointer;
    }
    .desc,
    .social-links {
      display: none !important;
    }
  }
  // .stickyPosition{
  //   justify-content: space-between;
  //   position: sticky;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  // }
}
@media screen and (max-width: 600px) {
  .hero {
    justify-content: space-between !important;
    .ml {
      height: 200px;
    }
  }
}

@media screen and (max-width: 400px) {
  .hero {
    .ml {
      height: 160px;
    }
  }
}
